main {
	width:750px;
	max-height: 600px;
	/*padding-left: 130px;*/
	position:absolute;
	top:100px;
	left:130px;

}


hr {
    width:750px;
	border: 1px dotted red;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right:0px;
}

.logo {
	padding-right:6px;
	opacity:1;
}

.social{
	margin-bottom:6px;
	opacity:1;
}
img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

header {
	width:780px;
	font-family: verdana, sans-serif;
	font-size:26px;
	font-style: bold;
	text-align: center;
	padding-top:20px;
	position:absolute;
	left:125px;
}

nav {
	width:80px;
	position: absolute;
	top:100px;
	left:0px;
}

ul {
	width:80px;
	list-style-type: none;	
	overflow:hidden;
	position:absolute;
	left:-40px;
}


.textbox{
	width:220px;
	height:600px;
	font-family: times;
	font-size: 14px;
	text-align: left;
	padding:15px;
	float:left;
}

.textbox2{
	width:340px;
	font-family: times;
	font-size: 14px;
	text-align: left;
	padding:15px;
	float:left;
}

img{
	float:left;
}

.box{
	width:61;
	height:30;
	position:absolute;
	top:100px;
	left:0;
}

.navbox{
	width:61px;
	height:30px;
	padding-top:10px;
	padding-left:6px;
	font-family:verdana, sans-serif;
	font-size:12px;
	text-align: left;
	background-color: pink;
}

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: brown;
    background-color: blue;   
    text-decoration: none;
}


li:hover {
	width:61px;
	height:30px;
    color: red;
    background-color: rgba(255,80,80,0.5);
    text-decoration: none;
    padding-left:6px;
	backface-visibility: visible;
	/*padding:0px;*/
}


.mediaBar {
	width:45px;
	height:130px;
	position:fixed;
	padding:10px;
	top:260px;
	left:0px;
	background-color: rgba(20,20,200,.2);

}

.imgHolder{
	width:500px;
	height:800px;
	position:absolute;
	left: 280px;
	margin-top:170px;
}

.box1 {
	border:1px dotted black;
	float:left;
	margin:10px;
	background-image: url(../assets/BabbleLg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}


.box2 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/bernies.jpg);
	background-repeat: no-repeat;
	background-size: 130%;
background-position: center;
}

.box3 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/Costa_Rica_BOOKLET2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.box4 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/goldenRule.jpg);
	background-repeat: no-repeat;
	background-size: 194%;
	background-position: -100px;

}

.box5 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/greenCups.jpg);
	background-repeat: no-repeat;
	background-size: 255%;
	background-position: center;
}


.box6 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/HonF_Tile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
}


.box7 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/HPETile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.box8 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/logo_for_screen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.box9 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/mr_bib.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}





