header {
	width:400px;
	height:100px;
	color:white;
	background-color: pink;
}

nav {
	width:380px;
	padding:10px;
	background-color: blue;
}

div {
	width:400px;
	height:500px;
	background-color: grey;
}

footer {
	width:400px;
	height:30px;
	position:absolute;
	bottom:0;
	background-color: orange;
}

article {
	height:500px;
	position: relative;
}