main {
	width:700px;
	min-height: 60px;
	padding-left: 80px;
}

 hr {
    width:600px;
	border: 1px dotted red;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;

}
header {
	width:780px;
	font-family: verdana, sans-serif;
	font-size:26px;
	font-style: bold;
	text-align: center;
}

nav {
	width:100px;
	height:110px;
	font-family: verdana, sans-serif;
	font-style: bold;
	font-size:12px;
	position: absolute;
	top:95px;
	left:0px;
}

ul {
	list-style-type: none;	
	overflow:hidden;
}

li{
	display:block;
	padding-top:8px;
	padding-left:5px;
	padding-bottom:15px;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}



.navbox{
	width:57px;
	height:108px;
	padding:6px;
	margin-bottom:5px;
	background-color: pink;
}



a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: brown;
    background-color: blue;   
    text-decoration: none;
}


a:hover, a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
backface-visibility: visible;
}

.imgHolder{
	width:500px;
	height:800px;
	margin-left: 170px;

}

.box1 {
	border:1px dotted black;
	float:left;
	margin:10px;
	background-image: url(../assets/BabbleLg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}


.box2 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/bernies.jpg);
	background-repeat: no-repeat;
	background-size: 130%;
background-position: center;
}

.box3 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/Costa_Rica_BOOKLET2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.box4 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/goldenRule.jpg);
	background-repeat: no-repeat;
	background-size: 194%;
	background-position: -100px;

}

.box5 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/greenCups.jpg);
	background-repeat: no-repeat;
	background-size: 255%;
	background-position: center;
}


.box6 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/HonF_Tile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
}


.box7 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/HPETile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.box8 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/logo_for_screen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.box9 {
	border:1px dotted black;
	/*display: inline-block;*/
	float:left;
	margin:10px;
	background-image: url(../assets/mr_bib.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;

